<div class="side-bar">
  <ul>
    <li>
      <span>123</span>
      <span><fa-icon [icon]="faMagic"></fa-icon></span>
    </li>
    <li>
      <span>123</span>
      <span><fa-icon [icon]="faMagic"></fa-icon></span>
    </li>
    <li>
      <span>123</span>
      <span><fa-icon [icon]="faMagic"></fa-icon></span>
    </li>
    <li>
      <span>123</span>
      <span><fa-icon [icon]="faMagic"></fa-icon></span>
    </li>
    <li>
      <span>123</span>
      <span><fa-icon [icon]="faMagic"></fa-icon></span>
    </li>
    <li>
      <span>123</span>
      <span><fa-icon [icon]="faMagic"></fa-icon></span>
    </li>
  </ul>
</div>
